<style>
                img {
            border-radius: 100%;
        }

        div {
            margin: auto;
            height: 300px;
            width: 400px;
            position: relative
        }

        p {
            margin-left: 80px;
        }

        .anc{
            margin-left: 450px;
            text-align: center;
            align-items: center;
        }

        .in {
            margin-left: 80px;
            padding: 10px
        }

        #btn {
            margin-top: 20px;
            position: absolute;
            left: 140px;
        }

        button:hover {
            background: green;
            font-size: 13px;
            cursor: pointer;
            color: white;
        }

        button {
            padding: 10px 20px;
            background-color: blue;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        body {
            background: url(logo.jpg) no-repeat center center;
            background-size: contain;
            background-attachment: fixed;
            background-color: black;
        }

        * {
            color: white;
        }

        input {
            background-color: #292929;
            color: #ffffff;
            border: none;
            outline: none;
            border-radius: 6px;
        }
    </style>
